<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BET EXNOV</title>
    <link rel="stylesheet" href="/css/EXNOV.css">
    <script src="https://kit.fontawesome.com/cd087d14cf.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <div class="navbar">
        <img id="logo" src="./PHOTO/EXNOV.png" alt="logo">

        <nav>
            <ul>
                <li><a href="#about">QUI SOMMES-NOUS?<br></a></li>
                <li><a href="#nos-services">NOS SERVICES</a></li>
                <li><a href="#points-forts">NOS SPECIALITES</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="mobile-menu">
                <li><a href="#about">QUI SOMMES-NOUS?<br></a></li>
                <li><a href="#nos-services">NOS SERVICES</a></li>
                <li><a href="#points-forts">NOS SPECIALITES</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
    <div class="company">
        <div class="slider">
            <figure>
                <div class="slide">
                    <h1>Bureau d'Etudes
                        Techinques</h1>
                    <img src="./PHOTO/img1.jpg" alt="">
                </div>
                <div class="slide">
                    <h1>EXNOV</h1>
                    <img src="./PHOTO/img2.jpg" alt="">
                </div>
                <div class="slide">
                    <h1>EXPERTISE</h1>
                    <img src="./PHOTO/img3.jpg" alt="">
                </div>
                <div class="slide">
                    <h1>INNOVATION</h1>
                    <img src="./PHOTO/img4.png" alt="">
                </div>
            </figure>
        </div>


        <div>
            <svg
                    class="waves-head"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28"
                    preserveAspectRatio="none"
                    shape-rendering="auto"
            >
                <defs>
                    <path
                            id="gentle-wave"
                            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
                    />
                </defs>
                <g class="parallax">
                    <use
                            xlink:href="#gentle-wave"
                            x="48"
                            y="0"
                            fill="rgba(255,255,255,0.7")
                    />
                    <use
                            xlink:href="#gentle-wave"
                            x="48"
                            y="3"
                            fill="rgba(255,255,255,0.5)"
                    />
                    <use
                            xlink:href="#gentle-wave"
                            x="48"
                            y="5"
                            fill="rgba(255,255,255,0.3)"
                    />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>

</header>



<main>
    <section id="about">
        <div class="container" id="qui-sommes">
            <h2>QUI SOMMES-NOUS?</h2>
            <p>BET EXNOV est un bureau d’étude technique du bâtiment et travaux publiques basé à Tanger et fondé par trois ingénieurs expérimentés et passionnés du génie civil.</p>
            <p>L’objectif d’EXNOV est la réalisation des études techniques et financières des structures simples et complexes en béton armé ainsi qu’en charpente métallique et la VRD, avec l’optimisation des quantités et du temps de réalisation des travaux.</p>
            <p>Parmi les points forts d’EXNOV c’est la variété des options et types de
                solutions.</p>
            <p> Basant sur notre véritable expérience, notre bureau d’étude propose une variété des options et types de solutions parmi ces solutions nous spécialisons dans les planchers réticulés, dalles en post-tension et les dalles mixtes (acier-béton).</p>
            <img src="./PHOTO/01.jpg" alt="">
        </div>
    </section>
    <div id="waves">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#333" fill-opacity="1" d="M0,192L80,202.7C160,213,320,235,480,229.3C640,224,800,192,960,176C1120,160,1280,160,1360,160L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>		<section id="services">
    </div>
    <section id="nos-services">
        <div class="container">
            <h2>NOS SERVICES</h2>
            <div class="servicesC">
                <div class="service">
                    <img src="./PHOTO/02.jpg" alt="Service 1" width="500" height="450">
                    <h3>CONCEPTION</h3>
                    <p>Nous faisons la conception de la structure porteuse et des lots techniques à partir des plans architecturels en respectant le coté esthétique, le coté budgétaire et suivant les règles de l’art.  </p>
                </div>
                <div class="service">
                    <img src="./PHOTO/03.jpg" alt="Service 2" width="500" height="450">
                    <h3>ETUDE TECHNIQUE DES PLANS</h3>
                    <p>Nous réalisons les études d’APS (Avant Projet Sommaire), APD (Avant Projet Détaillé) et DCE (Dossier de Consultation des Entreprises) avec le respect des délais et l’optimisation des quantités et des couts. </p>
                </div>
                <div class="service">
                    <img src="./PHOTO/04.jpg" alt="Service 3" width="500" height="450">
                    <h3>SUIVI DES TRAVAUX</h3>
                    <p>Nous mettons à la disposition de nos clients des ingénieurs et des techniciens pour des visites systématiques afin d’assurer la qualité et le respect du planning de l’avancement des travaux. </p>
                </div>
                <div class="service">
                    <img src="./PHOTO/05.jpg" alt="Service 4" width="500" height="450">
                    <h3>RENFORCEMENT ET REABILITATION</h3>
                    <p>Soutenu par l’expérience de nos ingénieurs nous offrons des nouvelles chances à des bâtiments dégradés, sous dimensionnés ou des bâtiments qui vont recevoir des surélévations.</p>
                </div>
                <div class="service">
                    <img src="./PHOTO/06.jpg" alt="Service 5" width="500" height="450">
                    <h3>EXPERTISE ET ASSISTANCE TECHNIQUE</h3>
                    <p>Nous mettons à la disposition de nos clients notre expertise d’accompagnement au cours de ces projets pour résoudre des problèmes et de lui donner des solutions afin de gagner en cout et en temps.</p>
                </div>
                <div class="service">
                    <img src="./PHOTO/07.jpg" alt="Service 6" width="500" height="450">
                    <h3>METRE ET OPTIMISATION</h3>
                    <p>Notre bureau d’étude se charge de la réalisation de l’avant métré, du métré détaillé, de l’attachement.</p>
                </div>
            </div>
        </div>

    </section>
    <div class="waves-footer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#333" fill-opacity="1" d="M0,192L80,202.7C160,213,320,235,480,229.3C640,224,800,192,960,176C1120,160,1280,160,1360,160L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
    </div>
    <section id="points-forts">
        <div class="container">
            <h2>NOS SPECIALITES</h2>
            <div class="service">
                <img src="./PHOTO/08.jpeg" alt="specialite 1">
                <h3>PLANCHES RETICULAIRES</h3>
                <p>Les planchés réticulaires offrent une grande liberté de
                    conception architecturelle, la possibilité de supprimer les
                    retombées des poutres, une distance entre les poteaux
                    jusqu’au 10m, une mise en œuvre de coffrage facile et
                    rapide, et une optimisation dans le temps d’exécution.</p>
            </div>
            <div class="service">
                <img src="./PHOTO/09.png" alt="specialite 2">
                <h3>DALLE POST TENSION</h3>
                <p>Parmi les avantages des dalles par Post-Tension c’est la
                    possibilité d’atteindre des portées jusqu’à 15m sans
                    retombés, ce qui est très important pour résoudre les
                    contrainte des espaces ouvertes ( sous sols et les salles de
                    conférence…).</p>
            </div>
            <div class="service">
                <img src="./PHOTO/10.png" alt="specialite 3">
                <h3>DALLES ALVEOLEES</h3>
                <p>Une dalle alvéolée est un élément préfabriqué en béton précontraint permettant la réalisation de planchers de grandes portées et de faible encombrement, destinée aux bâtiments non résidentiels, leur performance permet de réaliser rapidement un plancher jusqu’à 19 mètres de portée avec un coulage rapide des clavetages ne nécessitant que peu, voire pas d’acier complémentaire, notre bureau est expérimenté dans le dimensionnement et l'installation de ce type des dalles. </p>
            </div>
            <div class="service">
                <img src="./PHOTO/11.jpg" alt="specialite 4">
                <h3>DALLES PLEIN EN BETON ARME</h3>
                <p>Ce sont les dalles les plus fréquent au domaine du génie civil, l’avantage de ces types de dalles c’est qu’ils sont les moins chers et qu’ils ne nécessitent pas une main d’ouvre hautement qualifiée, notre bureau d’étude est toujours en service quand il s’agit de ces types de construction. </p>
            </div>
            <div class="service">
                <img src="./PHOTO/15.png" alt="specialite 4">
                <h3>DALLES CORPS CREUX</h3>
                <p>Plancher hourdis, ce sont les dalles les plus fréquent au domaine du génie civil, l’avantage de ces types de dalles c’est qu’ils sont les moins chers et qu’ils ne nécessitent pas une main d’ouvre hautement qualifiée, notre bureau d’étude est toujours en service quand il s’agit de ces types de construction.</p>
            </div>
            <div class="service">
                <img src="./PHOTO/12.png" alt="specialite 5">
                <h3>DALLES MIXTES </h3>
                <p>Une dalle mixte est un élément de construction des bâtiments métalliques à ossature mixte. Elle est composée d’une tôle nervurée sur laquelle on coule une dalle en béton comportant un léger treillis d’armature destiné à limiter la fissuration du béton due au retrait et aux effets de la température, pour un dimensionnement correct d’une dalle mixte vous trouvez toujours notre bureau à votre service.</p>
            </div>
            <div class="service">
                <img src="./PHOTO/13.jpg" alt="specialite 6">
                <h3>CHARPENTE METALLIQUE </h3>
                <p>La charpente métallique, la solution efficace pour les espaces de l’industrie, Note bureau d’étude est capable avec ces équipes de faire les études, suivi et l’expertise de  tout type de structure métallique. </p>
            </div>
            <div class="service">
                <img src="./PHOTO/14.jpg" alt="specialite 7">
                <h3>VRD </h3>
                <p>Les VRD, les Voirie et Réseau Divers signifie l’ensemble des travaux pour raccorder un bâtiment ou un espace aux voies et aux différents réseaux existants (eau potable, assainissement, électricité, fibre optique, …) nous serons à votre disposition pour réaliser tout type de travaux de VRD.</p>
            </div>
        </div>
    </section>
    <div class="waves-contact">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#d78406" fill-opacity="1" d="M0,192L80,202.7C160,213,320,235,480,229.3C640,224,800,192,960,176C1120,160,1280,160,1360,160L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
    </div>
    <section id="contact">
        <div class="container">
            <h2>CONTACTER-NOUS</h2>
            <div class="row">
                <div class="col-6">
                    <form id="emailForm" action="/ajax/email" method="post" onsubmit="return submitEmailForm(this);">
                        <div class="form-group">
                            <label for="name">nom:</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">email:</label>
                            <input type="text" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea id="message" name="message" required></textarea>
                        </div>

                        <button type="submit" class="btn">
                            <div class="svg-wrapper-1">
                                <div class="svg-wrapper">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24"
                                            width="24"
                                            height="24"
                                    >
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path
                                                fill="currentColor"
                                                d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                                        ></path>
                                    </svg>
                                </div>
                            </div>
                            <span>Send</span>
                        </button>

                    </form>
                </div>
                <div class="col-6">
                    <div class="contact-info">
                        <p><i class="fa-solid fa-location-dot"></i>   Bd MOULAY ISMAIL N°22 Etage5 N°19 Tanger</p>
                        <p><i class="fa-solid fa-phone"></i>   (+212) 648-409016</p>
                        <p><i class="fa-solid fa-envelope"></i>   exnov@exnov.ma</p>
                        <div class="social-icons">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
<button id="scroll-to-top" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
<a href="https://api.whatsapp.com/send?phone=0648409016" target="_blank" rel="noopener noreferrer" id="whatsapp">
    <img src="./PHOTO/whatsapp.png" alt="WhatsApp" width="55" height="55">
</a>
<script src="/script.js"> </script>



</body>



